#div-titulo-zorros{
  background: darkkhaki;
  border: solid 1px #00000073;
}

#div-galeria{
  width: 100%;
  height: 700px;
  border: solid 1px rgba(0, 0, 0, 0.507);
}

#div-img-zorros{
  width: 28px;
  height: 28px;
}

@media (max-width: 500px){
  #div-galeria{
    width: 100%;
    height: 300px;
    border: solid 1px rgba(0, 0, 0, 0.507);
  }

}
@media (max-width: 400px){
  #div-galeria{
    width: 100%;
    height: 250px;
    border: solid 1px rgba(0, 0, 0, 0.507);
  }

}
