<!--
<div class="">
  <div class="row p-0 m-0 mb-3">
    <div class="col-4">
      <img src="assets/img/suplentes.jpg" alt="galeria">
    </div>
    <div class="col-4">
      <img src="assets/img/entretiempo2.jpg" alt="galeria">
    </div>
    <div class="col-4">
      <img src="assets/img/entretiempo.jpg" alt="galeria">
    </div>
  </div>
-->
 <section class="container-fluid m-0 p-0">
    <div class="container-fluid m-0 p-0 ">
      <div id="div-titulo-zorros" class="row m-0 p-0 d-flex justify-content-between align-items-center rounded-top">
        <div class="m-0 p-1 col">
          <img id="div-img-zorros" src="assets/img/escudozorros.png" alt="">
        </div>
        <div class="m-0 p-0 col">
          <p class="m-0 p-0 h4 font-acme text-center">
            FOTOS
          </p>
        </div>
        <div class="m-0 p-1 d-flex justify-content-end col">
          <img id="div-img-zorros" src="assets/img/escudozorros.png" alt="">
        </div>
      </div>
    </div>
      <div id="carouselExampleControls" class="carousel slide m-0 p-0 mb-2" data-ride="carousel">
        <div class="carousel-inner rounded-bottom">
          <div class="carousel-item active " >
            <img id="div-galeria" src="assets/img/suplentes.jpg " alt="galeria">
          </div>
          <div class="carousel-item ">
            <img id="div-galeria" src="assets/img/entretiempo2.jpg" alt="galeria">
          </div>
          <div class="carousel-item ">
            <img id="div-galeria" src="assets/img/entretiempo.jpg" alt="galeria">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
