
<footer class="footer text-center m-0 p-0">
  <div class="container-fluid p-0 m-0">
    <p>
      2020 © Diseñador: Anselmo Tomas Catalan
    </p>

    <div class="container-fluid m-0 p-0">
      <div class="row m-0 p-0">
        <div class="col d-flex justify-content-start align-items-center">
          REDES:
          <a class="d-flex justify-content-start footer-a-redes" href="https://www.instagram.com/loszorrosdetortuguitas/">
            <img class="footer-img-redes ml-1" src="assets/img/instagram.png" alt="">
          </a>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
          <a class="d-flex justify-content-end footer-a-redes" href="https://www.facebook.com/tomas.catalan.31">
            <img class="footer-img-redes mr-1" src="assets/img/facebook.png" alt="">
          </a>
          <a class="d-flex justify-content-end footer-a-redes" href="https://www.instagram.com/tomas99f/">
            <img class="footer-img-redes mr-1" src="assets/img/instagram.png" alt="">
          </a>
          <p class="font-alex_brush m-0">
            Catalan
          </p>
        </div>
      </div>
      <!--div id="redes-zorro" class="row mx-2">
        <div class="col6 p-0 m-0">
          REDES:
          <a href="https://www.instagram.com/loszorrosdetortuguitas/">
            <img class="" src="assets/img/instagram.png" alt="">
          </a>
        </div>
        <div id="redes-tomas" class="col6">
          <a href="">
            <img class="" src="assets/img/facebook.png" alt="">
          </a>
          <a href="">
            <img class="" src="assets/img/instagram.png" alt="">
          </a>
          Catalan
        </div>
      </!--div-->
    </div>

  </div>
</footer>
