/*Font-Family Acme*/
@font-face {
  font-family: Acme;
  src: url(Acme/Acme-Regular.ttf);
}

.font-acme {
  font-family: Acme !important;
}

/*Font-Family Alex_Brush*/
@font-face {
  font-family: Alex_Brush;
  src: url(Alex_Brush/AlexBrush-Regular.ttf);
}

.font-alex_brush {
  font-family: Alex_Brush !important;
}
