<section class="container-fluid m-0 p-0 mb-1">
  <div class="row m-0 p-0">
    <div class="col m-0 p-0">

      <nav id="header-nav" class="navbar fixed-top navbar-expand-md navbar-light rounded-lg ">
        <img class="navbar-img" src="assets/img/escudozorros.png" alt="escudo">

        <a id="titulo-zorros" class="nav bar-brand text-white font-acme p-0 m-0" href="#">
          Los Zorros de Tortuguitas
        </a>

        <button id="header-nav-toggle" class="navbar-toggler" type="button" data-toggle="collapse"   data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">

          <i class="fas fa-bars"></i>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item text-center font-acme">
              <a  class="nav-link" href="index.html#plantilla">Plantilla</a>
            </li>
            <li class="nav-item text-center font-acme">
              <a class="nav-link" href="index.html#goleadores">Goleadores</a>
            </li>
            <li class="nav-item text-center font-acme">
              <a class="nav-link" href="index.html#historia">Historia</a>
            </li>
          </ul>
        </div>

      </nav>

    </div>
  </div>
</section>
