#header-nav{
  /*background-color: #202f28f5 !important;*/
  background-color: #111312e8 !important;
}

#header-nav-toggle {
  color: white !important;
  background: #ffffff4f !important;
  border-radius: 3px !important;
  border: solid 1px #ffffff75 !important;
  box-shadow: -2px 2px 2px -1px darkgoldenrod !important;
}

#header-nav-toggle:hover {
  color: white !important;
  background: #d0af374f !important;
  border-radius: 3px !important;
  border: solid 1px #ffffff75 !important;
  box-shadow: -2px 2px 2px -1px darkgoldenrod !important;
}
#header-nav-toggle:active {
  color: black !important;
  background: #d0af374f !important;
  border-radius: 3px !important;
  border: solid 1px #ffffff75 !important;
  box-shadow: -2px 2px 2px -1px darkgoldenrod !important;
}

#navbarNav {
  justify-content: flex-end;
}

#navbarNav a {
    background: #ffffff4f;
    border-radius: 3px;
    border: solid 1px #ffffff75;
    color: white;
    font-size: 15px;
    box-shadow: -2px 3px 5px -1px rgb(139, 93, 19);
  }
  #navbarNav a:hover {
    background: #d0af374f;
    border-radius: 3px;
    border: solid 1px #ffffff75;
    color: white;
    font-size: 15px;
    box-shadow: -2px 3px 5px -1px rgb(139, 93, 19);
  }
  #navbarNav a:active {
    background: #d0af374f;
    border-radius: 3px;
    border: solid 1px #ffffff75;
    color: black;
    font-size: 15px;
    box-shadow: -2px 3px 5px -1px rgb(139, 93, 19);
  }

#navbarNav li {
  margin: 5px 10px 0.1px 10px;

}

.navbar-img{
  width: 50px;
  margin-right: 30px;
}

#titulo-zorros{
  font-size: 35px;
  text-shadow: -2px 2px 2px rgb(139, 93, 19);
}

@media (max-width: 550px){

  .navbar-img{
    width: 50px;
    margin-right: 5px;
  }

  #titulo-zorros{
    font-size: 25px;
    text-shadow: -2px 2px 2px rgb(139, 93, 19);

}
}
@media (max-width: 400px){
  .navbar-img{
    width: 35px;
    margin-right: 0px;
  }

}
@media (max-width: 362px){
  .navbar-img{
    width: 30px;
    margin-right: 0px;
  }
  #header-nav-toggle{
    font-size: 15px;
  }
  #titulo-zorros{
    font-size: 20px !important;
  }
}
