<a name="goleadores"></a>
<section id="#goleadores-section" class="container-fluid m-0 p-0 mb-2" >
  <div id="Fondo-plantilla" class="row m-0 p-0 d-flex justify-content-between font-acme rounded-top align-items-center">
    <div class="col4">
      <img src="assets/img/escudozorros.png" class=" " alt="">
    </div>
    <div class="col4">
      <p id="textplantilla" class="m-0 p-0">
        GOLEADORES
      </p>
    </div>
    <div class="col4">
      <img src="assets/img/escudozorros.png" class=" " alt="">
    </div>
  </div>
  <table class="table table-sm table-dark m-0 p-0">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Nombre</th>
        <th scope="col">Goles</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let jugador of listaJugadores; let i=index;" [ngClass]="{'bg-success': i==0}">
        <th scope="row">{{i+1}}</th>
        <td>{{jugador.nombre}}</td>
        <td>{{jugador.goles}}</td>
      </tr>

    </tbody>
  </table>
</section>
