<section class="container-fluid m-0 p-0 pb-0 px-2">
  <app-header></app-header>
  <app-banner></app-banner>
  <app-plantilla></app-plantilla>
  <app-galeria></app-galeria>
  <app-goleadores></app-goleadores>
  <app-historia></app-historia>
  <app-footer></app-footer>
</section>
