<a name="plantilla"></a>
<section id="#plantilla-section" class="container-fluid m-0 p-0" >
  <div id="Fondo-plantilla" class="row m-0 p-0 d-flex justify-content-between font-acme rounded-top">
    <div class="col4">
      <img id="div-img-zorros" src="assets/img/escudozorros.png" class=" " alt="">
    </div>
    <div class="col4">
      <p id="textplantilla" class="m-0 p-0">
        Plantilla de Jugadores 2020
      </p>
    </div>
    <div class="col4">
      <img id="div-img-zorros" src="assets/img/escudozorros.png" class=" " alt="">
    </div>
  </div>
  <table class="table table-sm table-dark m-0 p-0 mb-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Posicion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of listaJugadores" (click)="abrirJugador(jugador)" data-toggle="modal" data-target="#jugadorModal">
        <th scope="row" >{{jugador.nro}}</th>
        <td>{{jugador.nombre}}</td>
        <td>{{jugador.posicion}}</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Modal -->
<div class="modal fade" id="jugadorModal" tabindex="-1" role="dialog" aria-labelledby="jugadorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div id="fondo-gris" class="modal-content">
      <div id="fondo-dorado" class="modal-header">
        <h5 class="modal-title font-acme h2" id="jugadorModalLabel">
        {{jugadorSeleccionado.nombre}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="container-fluid m-0 p-0">
          <div class="col12 col-xs-12 p-0 m-0">
            <img id="div-img-jugador" class="img-fluid" src="assets/img/Jugadores/{{jugadorSeleccionado.foto}}" alt="">
          </div>
        </div>

        <div class="div-informacion-jugador">
          <b>N°:</b>{{jugadorSeleccionado.nro}}
        <div>
          <b>POSICIÓN:</b>{{jugadorSeleccionado.posicion}}
        </div>
        </div>
      </div>
      <div id="fondo-dorado" class="modal-footer py-1">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atras</button>
      </div>
    </div>
  </div>
</div>
