#div-img-zorros{
  width: 22px;
  margin: 3px;
}
#Fondo-plantilla{
  background: darkkhaki;
  border: solid 1px rgba(0, 0, 0, 0.507);
}
#textplantilla{
  font-size: 22px;
}
#div-img-jugador{
  width: 100%;
  height: auto;
  border: solid 3px darkkhaki;
  border-radius: 43px;
}
#fondo-dorado{
  background: darkkhaki;
}
#fondo-gris{
  background: dimgrey;
}
