img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.507);
}
#texto{
  width: 100%;
  height: 100%;
  border: solid 1px  darkkhaki ;
  background-color: #bdb76b52;
}

.text-center{
  background: darkkhaki;
}
#div-titulo-zorros{
  background: darkkhaki;
  border: solid 1px #00000073;
  border:none;
}

#div-galeria{
  width: 100%;
  height: 500px;
  border: solid 1px rgba(0, 0, 0, 0.507);
}

#div-img-zorros{
  width: 28px;
  height: 28px;
  border:none;
}




@media (max-width: 767px){

  #texto{
    margin: 9px 0px 0px 0px;
    padding: 0px;

  }

}
