<a name="historia"></a>
<div id="#historia-section" class="container-fluid">
  <div class="row">
    <div id="div-img-border-solid" class="m-0 p-0 mb-2 col-xs-12 col-md-6">
      <img src="assets/img/antespartido.jpg" alt="historia">
    </div>
    <div id="texto" class=" m-0 p-0 mb-2 rounded-top col-xs-12 col-md-6">
      <div class="container-fluid m-0 p-0 ">
        <div id="div-titulo-zorros" class="row m-0 p-0 d-flex justify-content-between align-items-center rounded-top">
          <div class="m-0 p-1 col">
            <img id="div-img-zorros" src="assets/img/escudozorros.png" alt="">
          </div>
          <div class="m-0 p-0 col">
            <p class="m-0 p-0 h4 font-acme text-center">
              HISTORIA
            </p>
          </div>
          <div class="m-0 p-1 d-flex justify-content-end col">
            <img id="div-img-zorros" src="assets/img/escudozorros.png" alt="">
          </div>
        </div>
      </div>
      <div class="p-2">
        <p>Nuestra idea de formar un equipo fue en <b>2018</b>, entre un grupo de amigos jugando todos los domingos en el predio <b><a href="https://www.latortugafutbol.com.ar/" target="_black">La Tortuga</a></b>, en tortuguitas.</p>
        <p>El equipo fue teniendo partidos con otros rivales en donde comenzaron a fortalecer más el equipo, tanto familiar como técnico.</p>
        <p>Luego de <b>1 año</b> jugando juntos, con bajas y altas (como todo equipo). se nos ocurrio arrancar a competir en los torneos locales de futbol 11.  <b><a href="https://www.hoysejuega.com/torneos-de-futbol/6-cantilo-organizaciones.htm" target="_black">Cantilo</a></b> y <b><a href="http://www.depcom.com.ar/" target="_black">Depcom</a></b> entre otros.</p>
        <p>Este año y desde finales de <b>2019</b> Los zorros compiten en el <b> <a href="https://nazariotorneos.com/" target="_black">Torneo Nazario</a></b>. ubicado en la localidad de polvorines.</p>
        <p>Nuestra idea es tener un equipo de amigos, formarnos cada vez mejor. mejorar juntos, respeto, compromiso y ganas.</p>

      </div>
    </div>

  </div>
</div>
